/* CSS declarations go here */
@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-everything;
@font-face {
    font-family: printFailed;
    src:
    url("/fonts/FontFile/Poppins-Regular.ttf"),
    url("/fonts/FontFile/Poppins-Light.ttf"),
    url("/fonts/FontFile/Poppins-Medium.ttf"),
    url("/fonts/FontFile/Poppins-Bold.ttf"),
    url("/fonts/FontFile/Poppins-SemiBold.ttf");
}
body {
    background-color: #000000
}

h1 {
    color: #ffffff
}

p1 {
    color: #ffffff
}

h2 {
    color: #ffffff;
    font-family: printFailed;
}
h3 {
    color: #ffffff;
    font-family: printFailed;

}
form {
    color: #ffffff
}

footer {
    color: #ffffff
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
