/* CSS declarations go here */
@import '{zurb:foundation-sites}/scss/foundation';
@include foundation-global-styles;
  @include foundation-grid;
  @include foundation-typography;
  @include foundation-button;
  @include foundation-forms;
  @include foundation-visibility-classes;
  @include foundation-float-classes;
  @include foundation-accordion;
  @include foundation-accordion-menu;
  @include foundation-badge;
  @include foundation-breadcrumbs;
  @include foundation-button-group;
  @include foundation-callout;
  @include foundation-close-button;
  @include foundation-drilldown-menu;
  @include foundation-dropdown;
  @include foundation-dropdown-menu;
  @include foundation-flex-video;
  @include foundation-label;
  @include foundation-media-object;
  @include foundation-menu;
  @include foundation-off-canvas;
  @include foundation-orbit;
  @include foundation-pagination;
  @include foundation-progress-bar;
  @include foundation-slider;
  @include foundation-sticky;
  @include foundation-reveal;
  @include foundation-switch;
  @include foundation-table;
  @include foundation-tabs;
  @include foundation-thumbnail;
  @include foundation-title-bar;
  @include foundation-tooltip;
  @include foundation-top-bar;
  @font-face {
      font-family: printFailed;
      src:
      url("/fonts/FontFile/Poppins-Regular.ttf"),
      url("/fonts/FontFile/Poppins-Light.ttf"),
      url("/fonts/FontFile/Poppins-Medium.ttf"),
      url("/fonts/FontFile/Poppins-Bold.ttf"),
      url("/fonts/FontFile/Poppins-SemiBold.ttf");
  }

body {
    background-color: #000000
}

h1 {
    color: #ffffff
}

p1 {
    color: #ffffff
}

h2 {
    color: #ffffff;
    font-family: printFailed;

}
h3 {
    color: #ffffff;
    font-family: printFailed;

}
form {
    color: #ffffff
}

footer {
    color: #ffffff
}
button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
