<body>


  <div class="row expanded">
    <div class="small-1 column">
      <center>
        <img class="mic-button" src={{Mic}} id="mic" alt="blackBox" >
      </center>
    </div>
    <!-- center column -->
    <center>
      <div class="small-10 column">
      </div>
    </center>

    <!-- left column -->
    <div class="small-1 column" data-equalizer-watch>
      <center>
          <img class="faq-button" id="faq" src={{Faq}} style="PADDING-TOP: 10px">
      </center>
    </div>
  </div>

  <div class="row expanded">
    <!-- center column -->
    <center>
      <div class="small-12 column" >
        {{#if pop}}
          {{> popUp}}
        {{else}}
          {{#if isTrue}}
            {{> faq}}
          {{else}}
            {{> face}}
          {{/if}}
        {{/if}}
      </div>
    </center>

  </div>

</body>

<!-- FACE -->
<template name="face">
  <!-- wizo -->
  <div class="row expanded">
    <div class="small-12 column">
      <center>
        
      </center>
    </div>
  </div>

  <div class="row">

    <div class="small-12 column" style="margin-bottom: -20%;overflow: hidden !important;height: 620px;">
      <center>
        <img src={{eyes}} alt="HTML5 Icon">
      </center>
    </div>
  </div>

  <div class="row">
    <div class="small-12 column">
      <center>
        <h2>{{wizo}}{{textLimitW}}</h2>
      </center>
    </div>
  </div>

</template>
<!-- FAQ -->
<template name="faq">

  <div class="row expanded">
    <div class="small-12 column">
      <center>
        <h2>FAQ</h2>
      </center>
    </div>
  </div>

  <div class="row expanded">
    {{#each FAQ}}

        <div class="questions">
          <h3>{{question}}</h3>
        </div>

    {{/each}}
  </div>
</template>
<!-- popUp -->
<template name="popUp">
  <!-- wizo -->
  <div class="row expanded">
    <div class="small-12 column">
      <center>
        <h2>{{popMessage}}</h2>
      </center>
    </div>
  </div>

  <div class="row expanded">
    <div class="small-1 column">
      <button class="yes" type="button">Yes</button>
    </div>
    <div class="small-10 column">
    </div>
    <div class="small-1 column">
      <button class="no" type="button">No</button>
    </div>
  </div>

</template>
